<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwx.mybatis.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hwx.mybatis.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="passwd" property="passwd" />
        <result column="create_time" property="createTime" />
        <result column="role_id" property="roleId" />
        <association property="sysRole" column="role_id" fetchType="lazy" select="com.hwx.mybatis.mapper.SysRoleMapper.selectById"/>
    </resultMap>


    <select id="selectById" parameterType="int" resultMap="BaseResultMap">
        select * from sys_user where id = #{id}
    </select>

    <insert id="insert" parameterType="com.hwx.mybatis.entity.SysUser">
        insert into sys_user (id, username, passwd, create_time, role_id)  values (#{id}, #{username},#{passwd}, #{createTime}, #{roleId});
    </insert>

</mapper>
